.cars{
  border:1px solid black;
  width: 300px;
  height: 200px;
  margin: 30px 30px;

}

.header{
  background-color: aqua;
  justify-content: center;
  color: rgb(53, 8, 46);
  font-size: 40px;
  display: flex;
 ;
 
} 

.loader{
  position: absolute;
  top:40%;
  left:45%;
  border:1px solid gray;
  background: white;
}
 